.button {
    height: 40px;
    width: 120px;
    background-color: var(--color-primary-dark);
    font-size: var(--font-size-base);
    color: var(--color-background-base);
    border: none;
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--radius-small);
    cursor: pointer;
  }
  
  .button:hover {
    background-color: var(--color-button-hover);
  }
  .button:active {
    background-color: var(--color-button-active);
    /* denna används ikke ännu */
  }
  .button:disabled {
    cursor: not-allowed;
  }

  .button--edit {
    background-color: var(--color-accent); /* mörkgrå */
    color: var(--color-white);
  }
  
  .button--edit:hover {
    background-color: #374151; /* ännu mörkare grå */
  }
  
  .button--delete {
    background-color: var(--color-error); /* röd */
    color: var(--color-white);
  }
  
  .button--delete:hover {
    background-color: #b91c1c; /* mörkare röd */
  }