.listContainer {
  margin-bottom: var(--spacing-large);
  padding: var(--spacing-medium);
  background-color: var(--color-secondary);
  border-radius: var(--radius-medium);
  box-shadow: var(--shadow-sm);
  font-family: var(--font-family-base);
}

.listTitle {
  font-size: var(--font-size-large);
  margin-bottom: var(--spacing-medium);
  text-align: center;
  color: var(--color-accent);
}

.tableLike {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
}

.tableHeader {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-weight: bold;
  background-color: var(--color-primary);
  color: var(--color-black);
  padding: var(--spacing-small);
  border-radius: var(--radius-small);
  font-size: var(--font-size-small);
}

.tableHeader span {
  text-align: center;
}