.form {
    background-color: var(--color-primary);
    width: 50%;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    margin: 1.5rem auto;
    padding: 2rem;
    gap: var(--spacing-sm);
    border-radius: var(--radius-small);
}

.formTitle {
   
}

.formWrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-sm);
}

.formGroup {
    padding-top: var(--spacing-xs);
}

.formGroup input,
.formGroup select {
  height: 32px;
  width: 250px;
  border-radius: var(--radius-small);
  border: 2px solid var(--color-border);
}

.addButton{
    margin-top: 1rem;
}