.filterSelect {
    width: 200px;
    font-size: var(--font-size-base);
    padding: var(--spacing-xs);
    border-radius: var(--radius-small);
    border: 1px solid var(--color-accent);
    background-color: var(--color-white);
    color: var(--color-accent);
  }