.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: var(--spacing-small);
  background-color: var(--color-white);
  border-radius: var(--radius-small);
  box-shadow: var(--shadow-sm);
}

.row span {
  text-align: left;
  padding-left: var(--spacing-small);
  font-size: var(--font-size-small);
}

